<h3> All customers </h3>

<%= paginate @customers %> 
<ul>
<% @customers.each do |customer| %>
  <li>
    <%= "#{customer}  " %><%= link_to 'View', management_subscription_path(q: customer.email) %>
  </li>
<% end %>

</ul>
<%= paginate @customers %> 
